# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
# Options for mysqld process:
ndbcluster
# run NDB storage engine
[mysql_cluster]
# Options for NDB Cluster processes:
ndb-connectstring=jsanchez-ve1.mylabserver.com:1186
ndb-connectstring=jsanchez-ve2.mylabserver.com:1186

[ndbd]
connect-string=jsanchez-ve1.mylabserver.com:1186

[ndb_mgm]
connect-string=jsanchez-ve1.mylabserver.com:1186

[ndb_mgmd]
config-file=/var/lib/mysql-cluster/config.ini
